################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/MAUIInputCrash/bin
/MAUIInputCrash/obj
/MAUIInputCrash/MAUIInputCrash.csproj.user
